:root {
    --orange: #eb9c39;
    --pink: #e86898;
    --teal: #60e8ef;
    --gray: #C0C0C0;
    --blue: #4651e9;
}

::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

br {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#noselect {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logo, .logo_gif {
    width: 480px;
    margin: 25px;
    margin-bottom: 35px;

    position: absolute;
}

.logo {
    opacity: 1;
    transition-duration: 0.005s;
    transition-delay: 10s;
}

.logo:hover {
    opacity: 0;
    transition-duration: 0.005s;
    transition-delay: 0.005s;
}

.by {
    border-collapse: separate;
    border-spacing: 30px 0px;
    color: var(--teal);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14pt;
    float: right;
    clear: both;
    margin: 30px;
    margin-top: 60px;
}

.by td {
    text-align: center;
    padding: 20px;
    padding-left: 50px;
    transition-duration: 0.2s;
    transition-delay: 0.005s;
}

.by td:hover {
    color: white;
    transform: scale(1.2);
    transition-duration: 0.2s;
    transition-delay: 0.005s;
}


#noeffect:hover {
    transform: scale(1);
    color: var(--teal);
}

.box {
    width: 400px;
    float: right;
    clear: both;
    margin: 20px;
}

.title {
    font-size: 36pt;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

.description {
    float: right;
    clear: none;
    width: 500px;
    padding: 10px;
    padding-right: 40px;
    text-align: justify;
}

.login {
    float: left;
    clear: none;
    width: 340px;
    margin: 20px;
    margin-left: 50px;
    padding: 20px;
    padding-bottom: 0px;
    background-color:white;
}

.login form div {
    margin: 0 auto;
}

.login form input {
    margin: 10px;
    margin-bottom: 0px;
    width: 320px;
    height: 50px;
    font-size: 20px;
    transition-duration: 0.2s;
}

.login form input[type=text], .login form input[type=password] {
    border: none;
    border-bottom: solid 3px var(--orange);
    padding-left: 5px;
} 

.login form input:focus {
    outline: none;
    filter: brightness(120%);
    transition-duration: 0.5s;
}

.login form input::placeholder {
    font-family: Comfortaa;
    transition-duration: 0.2s;
}

.login form input:focus::placeholder {
    color: rgba(255,255,255,0.2);
    transition-duration: 0.5s;
}

.login form input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.login form input[type=submit] {
    background-color: var(--orange);
    color: white;
    border: none;
    transition-duration: 0.5s;

    font-size: 20pt;
    height: 60px;
}

.login form input[type=submit]:hover {
    filter: brightness(130%);
    transition-duration: 0.5s;
    cursor: pointer;
}

.login form label {
    font-size: 14pt;
}

.login form label:hover {
    cursor: pointer;
}

.register form input[type=text], .register form input[type=password]{
    border-color: var(--blue);
}

.register form input[type=submit] {
    color: white;
    margin-top:15px;
    margin-bottom: 20px;
    background-color: var(--blue);
}

.error {
    color: red;
    font-size: 10pt;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.info {
    color: var(--blue);
    font-size: 16pt;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

body {
    background-image: url("../../app/background.png");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;

    font-family: Comfortaa;
    font-size: 16pt;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #ffffff8a;
    border-radius: 25px;
}

.header_wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;

    position: realtive;

    background-color: var(--teal);
    transition-duration: 0.3s;
    transition-delay: 0.005s;
    transition-timing-function: ease-in;
    overflow: hidden;
}

.header_wrapper:hover {
    background-color: var(--blue);
    color: black;
    transition-duration: 1s;
    transition-delay: 0.005s;
    transition-timing-function: ease-out;
}

.menu{
    padding: 15px;
    padding-left: 40px;
    padding-top: 25px;
    height: 90px;
    transform:scale(1.0);
    background-color: var(--blue);
}

.menu a, span {
    display: inline-block;
    height:90px;
    width:120px;
    margin: 0;
    margin-left: 25px;
    margin-right: 40px;
    transition-delay: 0.005s;
    transition-duration: 0.3s;
}

.menu a {
    filter: grayscale(80%);
}

.menu a:hover {
    transform: scale(1.25);
    transition-duration: 0.2s;
    transition-delay: 0.005s;
    filter: brightness(115%);
}

#chores, #rewards, #household, #user, #logout{
    background-color:transparent;
    background-size: cover;
    background-position: center center;
}

#chores {
    background-image: url("../../app/Mchores.png");
}

#rewards {
    background-image: url("../../app/Mbox.png");
}

#household {
    background-image: url("../../app/Mhouse.png");
}

#user {
    background-image: url("../../app/Muser.png");
}

#logout {
    background-image: url("../../app/Mdoor_closed.png");
    transition-duration: 0.05s;
}

#logout:hover {
    background-image: url("../../app/Mdoor_open.png");
    transform: scale(1.2);
    transition-duration: 0.05s;
}

@font-face {
    font-family: Comfortaa;
    src: url("../../app/Comfortaa-Regular.ttf");
}